/* Fonts */

@font-face {
	src: url("fonts/HelveticaNeueLTThin.otf");
	font-family: "Helvetica Neue UltraLight";
	font-weight: normal;
    unicode-range:
           U+0020-U+0040, /* Punctuation, Numbers */
           U+0041-U+005A, /* Upper-Case A-Z */
           U+005B-U+0060, /* Punctuation and Symbols */
           U+0061-U+007A, /* Lower-Case a-z */
           U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face {
	src: url("fonts/HelveticaNeueLTLight.otf");
	font-family: "Helvetica Neue Light";
	font-weight: normal;
    unicode-range:
           U+0020-U+0040, /* Punctuation, Numbers */
           U+0041-U+005A, /* Upper-Case A-Z */
           U+005B-U+0060, /* Punctuation and Symbols */
           U+0061-U+007A, /* Lower-Case a-z */
           U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face {
	src: url("fonts/HelveticaNeue.swf");
	font-family: "Helvetica Neue";
	font-weight: normal;
}

@font-face {
	src: url("fonts/HelveticaNeue.swf");
	font-family: "Helvetica Neue";
	font-weight: bold;
}